[2014-11-21 08:41] vilbara opened #6 ""mkdocs build" fails on Ubuntu 14.10"
Hi,

Building the docs fails on Ubuntu 14.10:

[code]

Any tips?

Thanks!
Vilmantas

[2015-02-20 00:27] willow9886 commented on #6
Vilmantas,

We finally fixed this issue. Docs have been updated here: [https://github.com/GluuFederation/docs](https://github.com/GluuFederation/docs)

[2015-02-20 00:27] #6 closed

[2015-03-10 05:12] bries opened #7 ""Manage Certificate" option missing from "Configuration" menu"
Hi,

i'm trying to upload SSL certificates as per Admin Guide, but in my local install the "Manage Certificate" option does not exist.

I have found below errors in setup_error.log, but not sure if this is related.

Thanks
Bernd

04:22:34 03/10/15 log4j:ERROR setFile(null,true) call failed.
java.io.FileNotFoundException: /logs/oxauth_persistence_ldap_statistics.log (No such file or directory)

[2015-03-10 09:58] mzico commented on #7
Hi Bries,

Yes, we lately removed this option from our Community Edition. May be in future we will add that again.
For now, you need to manually update certificates and keys from /etc/certs/ location. "httpd.crt" and "httpd.key" are SSL keys for your Gluu Server CE. Here is how you can update the SSL httpd key and cert in Gluu CE:

1. Push latest SSL httpd key and cert in /etc/certs.
2. Rename the

[2015-03-10 09:58] #7 closed

[2015-03-30 15:39] willow9886 opened #8 "Merge LDAP Attribute docs"
For LDAP attribute, we have two pages in our doc:

1. http://www.gluu.org/docs/admin-guide/saml/outbound-saml/#ldap-attributes

2. http://www.gluu.org/docs/admin-guide/oxTrust/configuration/#attributes

#1 is more comprehensive than #2 ( as #1 also giving info on how to create custom attribute ).

Let's merge them.

[2015-03-30 15:48] willow9886 opened #9 "Manage custom scripts interface"
Currently there's no documentation for the new oxTrust screen "Manage Custom Scripts"

From oxTrust home > Configuration > Manage custom scripts

[2015-03-30 15:51] willow9886 opened #10 "Docs versioning"
We need to version our docs is conjunction with releases. i.e., user should be able to look at docs 2.0, 2.1, etc.  I believe we can do this through "releases" feature within docs repo,.

[2015-03-30 16:14] mzico commented on #9
Just to give a note: Custom integration scripts and HowTo are available in https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations

Zamil, you can grab info from above link to update our doc.

[2015-03-30 16:17] willow9886 commented on #9
@mzico I don't see any how to's there. Am I missing it?

[2015-03-30 16:23] mzico commented on #9
@willow9886: Not all of them are there but Basic [1], Duo [2], Google[3], OneID[4], SAML[5] are available.

For CAS2, Wikid, Toopher and oxPush, I will co-ordindate to update the installation instructions.

[1] https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/basic/INSTALLATION.txt
[2] https://github.com/GluuFederation/oxAuth/blob/master/Server/integrations/duo/INSTALLATION

[2015-03-30 21:59] zamilskhan commented on #9
I will put link directing to the integraitions. I checked the documentation screenshot with version 2.1.0 and there were no changes to the cache refresh tab. Please see the following link.

http://www.gluu.org/docs/admin-guide/oxTrust/configuration/#manage-custom-scripts

[2015-03-30 22:10] zamilskhan commented on #8
We cannot merge them as they are from two different tabs. However, while updating the docs, the attribute section of [1](http://www.gluu.org/docs/admin-guide/saml/outbound-saml/#ldap-attributes) will be transferred to [2](http://www.gluu.org/docs/admin-guide/oxTrust/configuration/#attributes) as it is not possible to add attributes from SAML--> Trust Relationshis.

[2015-03-31 10:01] mzico commented on #8
@zamilskhan : Yes, better. In fact, just add "how to add a custom custom" attribute in #2 section [ before "Cache Refresh" part ]. That should serve our purpose even.

[2015-03-31 10:04] mzico commented on #9
@zamilskhan : That's right. But whenever we add 2FA scripts ( i.e. Duo ), we need to add them "Person Authentication" tab. You can check https://test.gluu.org IDP for example.

[2015-03-31 14:31] nynymike opened #11 "Update Interception Script Documentation"
There are many questions that are hard to find

1. If you have an external jar file, how do you add it?
2. If you have an external python library, how do you add it to the jython environment?
3. What is the purpose of each method for each type of interception?
4. Sample code for common use cases?

[2015-04-02 23:03] zamilskhan opened #12 "Move Installation Docs to respective repositories"
I see that there are 2 repositories for Gluu CE in the following links.
https://github.com/GluuFederation/ce-centos
https://github.com/GluuFederation/ce-ubuntu
The installation instructions can be put in the two repositories or maybe point to the installation instructions for the two systems.

[2015-04-03 11:18] yurem commented on #12
I added these 2 repos to track issues. I think we need to keep installation instruction in docs project only

[2015-04-03 13:06] zamilskhan commented on #12
Okay, got it.

[2015-04-03 13:06] #12 closed

[2015-04-10 14:19] mzico opened #13 ""Attribute mapping" not covered in public doc"
"Attribute mapping" section (screenshot) is not covered in doc: http://www.gluu.org/docs/admin-guide/oxTrust/configuration/#cache-refresh

screenshot:
![attribute_mapping](https://cloud.githubusercontent.com/assets/7156097/7089586/986190ac-df62-11e4-9eb9-055d999db207.png)

[2015-04-10 17:43] willow9886 commented on #13
fixed.

[2015-04-10 17:43] #13 closed

[2015-04-17 17:02] willow9886 opened #17 "change UMA image"
Add new images to uma doc

![register-resource](https://cloud.githubusercontent.com/assets/5271048/7206704/9580f2aa-e4f9-11e4-91e7-ed9d16b739f3.png)

![uma-resource](https://cloud.githubusercontent.com/assets/5271048/7206705/958d5c2a-e4f9-11e4-9041-4239b94dba0e.png)

[2015-04-17 17:03] #17 closed

[2015-05-08 23:51] adrian-gluu commented on #8
Can I build the pkgs for debian and centos? did you merge your repos into this one?

[2015-05-08 23:51] adrian-gluu opened #19 "pkgs"
Can I build the pkgs for debian and centos? did you merge your repos into this one?

[2015-06-18 17:34] willow9886 opened #20 "Cache refresh image"
![cache_refresh_diagram](https://cloud.githubusercontent.com/assets/5271048/8237617/4df7d88e-15b6-11e5-98eb-5bb0376b9750.png)

[2015-06-18 17:34] #20 closed

[2015-06-29 14:39] nynymike opened #21 "Missing Response and Error Codes"
Is this a problem in the Swagger --> Markdown generation? I don't see the response and error codes.

![image](https://cloud.githubusercontent.com/assets/3717101/8410259/a3e0c30c-1e42-11e5-8408-699853dc6123.png)

[2015-06-29 17:06] yuriyz commented on #21
those codes are hidden deeply in our code. Swagger have no idea about it. We should link it, so swagger can pick it up or otherwise write down it directly in annotation (which is bad because it will duplicate what is already in code anyway).

[2015-07-15 09:09] yuriyz commented on #21
I've checked swagger implementation and according to their implementation it not possible to inline error codes from code. We have to inline it in swagger annotations directly.
https://github.com/swagger-api/swagger-core/wiki/Annotations

I will do following:
1. put error code directly in swagger annotations in oxauth code
2. regenerate markdown
3. update it in docs

[2015-07-20 08:17] mzico opened #22 "oxTrust attributes / create a wiki on attributes"
Create a wiki on oxTrust attributes.

A spreadsheet can be created primary to show:

1. DisplayName of Attributes.
2. Purpose of Attributes. ( SAML, OpenID Connect ).

[2015-07-20 15:29] zamilskhan commented on #22
Created a page (http://ox.gluu.org/doku.php?id=oxtrust:attributes) for this purpose. I will be listing the available attributes and their purpose in the page.

[2015-07-20 19:26] yurem commented on #22
http://www.gluu.org/docs/reference/ldap-schema/
Probably it's not up to date. This is latest schema: https://github.com/GluuFederation/community-edition-setup/blob/master/static/opendj/101-ox.ldif

[2015-07-23 14:17] nynymike opened #23 "Missing reference docs for oxauth config JSON data structure"
OxAuth configuration needs more detail.

We list the file here, but its not in an easy to consume format.
http://www.gluu.org/docs/reference/oxAuth

Also, there is a configuration JSON file. Does it correspond exactly to the XML? What are the fields and guidelines for values?

[2015-07-24 11:32] mzico opened #24 "SCIM doc are incomplete"
http://www.gluu.org/docs/articles/scim-client/

[2015-07-24 20:04] nynymike opened #25 "CAS Article"
We need an article under http://www.gluu.org/docs/articles/ on how to configure CAS. For example, add custom authentication script, add CAS login url. Also what about enrollment?

[2015-07-27 08:15] mzico opened #26 "Doc on using Gluu Server for gplus custom authentication"
We need to create a doc and publish it under 'Article' for gplus custom authentication.
gplus script is available under: https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/gplus

[2015-08-20 16:23] mzico opened #27 "Update oxTrust+oxAuth reference docs"
We need to add more information here in:

1. http://www.gluu.org/docs/reference/oxAuth/
2. http://www.gluu.org/docs/reference/oxTrust/

This reference docs should include the purpose, description of all oxAuth and oxTrust properties files.

[2015-08-20 18:42] mzico opened #28 "ShibbolethSP-Windows-Apache doc incomplete"
"Configuring Apache Shibboleth SP in Windows" section of doc ( http://www.gluu.org/docs/articles/apache-saml/ ) is incomplete.

For reference, check this link: http://ox.gluu.org/doku.php?id=windows_sp_configuration#apache_configuration

[2015-08-24 14:44] mzico opened #30 "Text / command formats are not correct"
'apache-saml' doc formatting is bad. As you can see formatting is bad. No header, no subheader etc.
i.e.  #1 command is bigger than header, #3 'curl' command should be under #2 ( Grab shibboleth repository from SWITCH ), #3, Quick test command is on same line....
![format_doc](https://cloud.githubusercontent.com/assets/7156097/9443044/9a425eb8-4a44-11e5-99fe-2af47bd46677.png)

[2015-08-25 20:08] #30 closed

[2015-08-25 20:08] zamilskhan commented on #30
The formatting is fixed and updated.

[2015-08-25 20:13] zamilskhan commented on #28
This was addressed while fixing the formatting.

[2015-08-25 20:13] #28 closed

[2015-09-01 08:49] mzico opened #31 "Hobsons SSO public doc"
Zamil,

Let's remove classified info from Alex's doc ( https://support.gluu.org/view/other/documentation-on-hobsons-sso/2085 ) and put this SSO under 'Article' section of public doc.

[2015-09-04 09:15] rngadam opened #32 "Key is fetched from plain http server, https certificate expired"
http://www.gluu.org/docs/admin-guide/deployment/ubuntu/

[code]

http instead of https.

HTTPS server has:

[code]

seems a bit unsafe. Given the nature of what Gluu is used for, shouldn't *.gluu.org be https?

[2015-09-15 20:52] willow9886 commented on #31
https://github.com/GluuFederation/docs/blob/master/sources/articles/hobsons-saml.md

[2015-09-15 20:52] #31 closed

[2015-09-30 20:04] zamilskhan commented on #26
http://www.gluu.org/docs//articles/social-login-google/#configure-google

[2015-09-30 20:04] #26 closed

[2015-11-03 21:24] #8 closed

[2015-11-03 21:24] #22 closed

[2015-11-03 21:25] #10 closed

[2015-11-03 21:25] #9 closed

[2015-11-03 21:25] #19 closed

[2015-11-03 21:27] #24 closed

[2015-11-23 14:53] mzico opened #50 "Update 'Cache Refresh' doc for 2.4"
Update doc to cover main menu of 'Cache Refresh':

![admin_cache_menu](https://cloud.githubusercontent.com/assets/7156097/11339534/90745e64-91bf-11e5-9d64-4be4ca0efbf2.png)

[2015-11-24 12:53] zamilskhan commented on #50
Updated the Cache Refresh doc to reflect new UI.

[2015-11-24 13:00] mzico commented on #50
@zamilskhan : I can see 'non-syncing' ( not syncing with image and description ) issues there in CR doc.

[2015-12-09 17:33] willow9886 opened #58 "Missing picture in Local User Management"
https://github.com/GluuFederation/docs/blob/master/sources/admin-guide/user-management/index.md#local-user-management

top image needs to be re-added.

[2015-12-09 21:02] zamilskhan commented on #58
Fixed

[2015-12-09 21:04] #58 closed

[2015-12-09 21:05] zamilskhan commented on #50
Fixed

[2015-12-09 21:05] #50 closed

[2015-12-22 09:04] mzico opened #59 "Update doc for 'creating custom OC'"
Need to update for 2.4.x and v0.4: http://www.gluu.org/docs/admin-guide/design-customizations/#how-to-add-custom-attributes-to-gluu-ldap

[2016-01-03 15:10] #59 closed

[2016-01-03 15:14] mzico commented on #32
We are keeping our repo server HTTP for now.

[2016-01-03 15:14] #32 closed

[2016-01-03 15:34] rngadam commented on #32
BTW, Letsencrypt is a way to obtain free HTTPS certificates:

http://letsencrypt.org/
https://github.com/letsencrypt/letsencrypt

[2016-01-03 15:52] mzico commented on #32
Thanks, cert is not the issue, we have our own CA cert. We are keeping this HTTP by design for now.

[2016-01-10 15:23] mzico opened #63 "Update 'Log Viewer' doc according to 2.4.x"
Need to update: http://www.gluu.org/docs/admin-guide/configuration/#view-log-file

There is no 'Configure Log viewer' now.

[2016-01-12 18:15] zamilskhan commented on #63
![screenshot-idp uaex edu 2016-01-13 00-11-21](https://cloud.githubusercontent.com/assets/7703245/12272408/8fc7ecc2-b98a-11e5-9297-3d3f3329ba5d.png)
This is a screenshot from the 2.4.1 build. I am not sure which "configure log viewer" is no longer there.

[2016-01-12 18:42] mzico commented on #63
@zamilskhan : Yes.. "Configure log viewer" is there *but* in our 2.4.x series we are already giving user these four logs ( oxAuth, oxTrust, oxTrust CR and console ) by default.
What I would want you to modify:

1. We are already shipping four logs by default. ( attach new screenshot which has 'console' as well )
2. If user want to add 'more' logs, then can add it with 'Add log template'

That's it

[2016-01-12 18:58] zamilskhan commented on #63
Updated: http://www.gluu.org/docs/admin-guide/configuration/#configure-log-viewer
Added: new screenshot with console

[2016-01-12 21:41] mzico commented on #63
Thanks!

[2016-01-12 21:41] #63 closed

[2016-01-19 19:25] jacobsukumar opened #64 "apache2 server restart getting failed"
![apache2restart](https://cloud.githubusercontent.com/assets/12845308/12429394/029d5694-bf10-11e5-9aba-f73be7835044.PNG)

Tried restart the apache2 server as a service, I got error. Again tried to restart manually, it is giving same error.(attached screenshot)

[2016-01-19 20:04] mzico commented on #64
@jacobsukumar: let's chat. This is not bug. This is more like a configuration issue in mod_auth_oidc

[2016-01-19 20:04] #64 closed

[2016-01-27 17:25] mzico opened #66 "Update CentOS doc for 2.4.1"
http://www.gluu.org/docs/admin-guide/deployment/centos/

[2016-02-02 17:57] zamilskhan commented on #66
Updated.

[2016-02-02 17:57] #66 closed

[2016-02-05 14:04] mzico opened #67 "Update registration doc"
From Jake:

[2016-02-10 21:27] zamilskhan commented on #67
Updated screenshot.

[2016-02-10 21:27] #67 closed

[2016-02-28 10:06] mzico opened #68 "Update Salesforce doc"
Replace this (**) image with attached one.

New image:

![salesforcetrustrelationshipgluuserver](https://cloud.githubusercontent.com/assets/7156097/13378587/85cd191c-ddd0-11e5-922e-2195841e98a8.png)

(**) https://raw.githubusercontent.com/GluuFederation/docs/master/sources/img/salesforce/Gluu_Server.png

[2016-02-29 13:33] zamilskhan commented on #68
Updated in new docs.

[2016-02-29 13:33] #68 closed

[2016-02-29 13:35] zamilskhan commented on #27
will it allow manually editing properties file and seeing the changes in GUI?

[2016-02-29 14:00] mzico commented on #27
Of course. But the purpose of this doc is to explain what properties do what. The target audience: Developers.

[2016-02-29 19:14] aliaksander-samuseu commented on #23
This is a very old ticket. No files like that (aside from LDAP configuration files) exist anymore in tomcat/conf directory. I also can't find any section that does these mappings between attributes/claims/scopes, may be because it's not needed anymore, they are stored in different attributes in LDAP at the moment.

[2016-02-29 23:41] aliaksander-samuseu commented on #23
I'm updating this doc articles atm.

[2016-03-01 17:28] zamilskhan opened #69 "Manage Registration Doc"
There is no specific how-to about managing registration. It will be a good addition in the docs.

[2016-03-01 17:30] mzico commented on #69
I will make a video tutorial and share the link.

[2016-03-05 11:24] zamilskhan commented on #69
It is updated, though without video.

[2016-03-05 11:24] #69 closed

[2016-03-05 11:26] zamilskhan opened #70 "Update Asimba Page for 2.4.2"
[This page](https://www.gluu.org/docs/integrate/inbound-saml/) needs to reflect the latest changes in oxTrust and the new Asimba menu items.

[2016-03-09 15:55] mzico opened #71 "Update 'User Registration' for enable/disable authn of new user"
It's possible to 'enable' login for newly registered user with a feature in 2.4.2. By default, it's 'false' but making it 'true' and 'enabling' this registration script will allow new users to log into IDP without any kind of custom script. Update registration doc.

Screenshot of this feature added below:

![userenable](https://cloud.githubusercontent.com/assets/7156097/13641125/f65d1f88-e5dc-11e5

[2016-03-11 18:00] zamilskhan opened #72 "Update CR Doc"
Update CR doc based on https://docs.google.com/document/d/1EvICMe5EEUlsNWE19Q_fadoKoVGQK9EKngDwNu7GOVE/edit#

[2016-03-11 19:16] zamilskhan commented on #27
oxTrust JSON config page complete.

https://www.gluu.org/docs/gluu-defaults/oxtrust-properties/

[2016-03-11 19:23] zamilskhan opened #73 "Multi-Factor Authentication Integration Guides"
Add the multi factor integration guide sections in the docs. Create a separate section named "MFA Integration Guide" and add pages.

[2016-03-14 14:49] zamilskhan opened #74 "Add Certificate Authentication script"
Add the script in the Script Page.
https://github.com/GluuFederation/oxAuth/tree/master/Server/integrations/cert

[2016-03-15 18:10] zamilskhan opened #75 "Add Dynamic Scope custom script"
Add dynamic scope script in the custom scripts page.

[2016-03-15 21:02] #11 closed

[2016-03-15 23:01] zamilskhan commented on #71
@mzico added https://gluu.org/docs/cache-refresh/register/. Please check.

[2016-03-16 09:15] #71 closed

[2016-03-16 17:11] zamilskhan commented on #75
Added in https://gluu.org/docs/customize/script/

[2016-03-16 17:11] #75 closed

[2016-03-16 17:13] zamilskhan commented on #70
Added new screenshots in the `/img/2.4/` folder

[2016-03-16 17:14] zamilskhan commented on #23
#27 also has the same issue. we should use one to track.

[2016-03-16 17:19] zamilskhan commented on #70
@dmogn FIY

[2016-03-16 23:11] zamilskhan commented on #74
@nynymike added certificate authentication under person authentication page. @willow9886 it might be a good idea to use tables to define the properties in the other scripts.

[2016-03-16 23:11] #74 closed

[2016-03-16 23:13] zamilskhan commented on #72
@willow9886 added the pdf of the file in the CR page. This seems like a good idea to keep the file intact. Shall I edit the page to reflect the doc?

[2016-03-17 00:19] zamilskhan commented on #73
Added Twilio Script.

[2016-03-17 00:20] zamilskhan commented on #27
#23

[2016-03-17 15:11] mzico opened #76 "Add diagram in manual cluster"
Please add below image in manual cluster doc.

![ce_cluster_diagram](https://cloud.githubusercontent.com/assets/7156097/13850591/9a553fde-ec28-11e5-8fa7-675f96743a10.png)

[2016-03-18 15:51] willow9886 opened #77 "add instructions in oxPush 2MFA docs"
On https://github.com/GluuFederation/docs/blob/master/sources/multi-factor/oxpush2.md

In the last instruction, "Change the default authentication method to oxPush2", you need to change both:   - Authentication mode
- oxTrust authentication mode

See screenshot:

![image](https://cloud.githubusercontent.com/assets/5271048/13883127/1aeba3b8-ecf6-11e5-8e69-798f2f26f827.png)

[2016-03-18 18:21] zamilskhan commented on #76
@mzico Added screenshot. Please review.

[2016-03-18 18:29] mzico commented on #76
looks good, thanks!

[2016-03-18 18:29] #76 closed

[2016-03-21 08:27] mzico opened #78 "Update CentOS7 doc for 2.4.2"

[2016-03-21 19:30] zamilskhan commented on #77
Added.

[2016-03-21 19:30] #77 closed

[2016-03-22 18:28] mzico opened #79 "Gluu Server LDAP documentation"
Tree view and documentations of LDAP structure in Gluu CE

[2016-03-22 20:04] willow9886 commented on #74
@zamilskhan yes agreed.

[2016-03-23 15:05] zamilskhan commented on #78
Updated

[2016-03-23 15:05] #78 closed

[2016-03-23 20:44] #73 closed

[2016-03-23 20:46] zamilskhan commented on #73
[DUO](https://gluu.org/docs/multi-factor/duo/)
[U2F](https://gluu.org/docs/multi-factor/u2f/)
[oxPush2](https://gluu.org/docs/multi-factor/oxpush2/)
[Wikid](https://gluu.org/docs/multi-factor/wikid/)
[Certificate](https://gluu.org/docs/multi-factor/cert/)

[2016-03-23 20:46] #70 closed

[2016-03-23 20:46] #72 closed

[2016-03-28 12:44] zamilskhan commented on #27
oxAuth docs are not necessary as the fields contain the explanation now.

[2016-03-28 12:44] #27 closed

[2016-03-28 17:31] mzico opened #80 "Update 'openID Client registration and view' doc"
[This](https://gluu.org/docs/integrate/openid-connect/#client-registration) page is representing old oxTrust. We need to update it according to 2.4.2 oxTrust
![openidclientoxtrust](https://cloud.githubusercontent.com/assets/7156097/14084574/f3143baa-f4e0-11e5-8798-88d8b152bbac.png)

[2016-03-28 19:19] zamilskhan commented on #80
Updated screenshot. Check please.

[2016-03-28 19:37] mzico commented on #80
'https://gluu.org/docs/integrate/openid-connect/#client-registration' is not updated yet. Plus updating screenshot is not everything.. we need to describe all fields.

[2016-03-28 19:42] zamilskhan commented on #80
The important ones are there already. I do not see the point of listing the algorithm choices for JWKS.

[2016-03-29 00:35] zamilskhan commented on #80
Completed. check https://gluu.org/docs/integrate/openid-connect/#client-registration

[2016-03-30 15:20] mzico opened #81 "oxTrust / oxAuth Configuration documentation"
Let's make sure these fields are documented with proper screenshot.
Configuration --> JSON Configuration -->
![json_configuration](https://cloud.githubusercontent.com/assets/7156097/14147413/0465d39c-f661-11e5-8f47-c03b89940ec9.png)

[2016-03-30 16:11] mzico opened #82 "Documentation on 'Manage Sector Identifiers'"
- What is 'Sector Identifiers'
- Why we need that
- How to operate

![sector_identifiers](https://cloud.githubusercontent.com/assets/7156097/14149089/1aaf2c6e-f668-11e5-91df-a8583af92e05.png)

[2016-03-31 08:19] aveekbu commented on #81
I'll check with @zamilskhan and make it done!

Thanks!

[2016-03-31 19:45] zamilskhan opened #83 "Custom Script Page Cleanup"
Cleanup the custom script page to add information where necessary and use tables to make reading easier.

[2016-03-31 19:46] willow9886 commented on #83
Reference: [https://support.gluu.org/integrations/prepareforstep-not-called-on-step-2-2596#at9448](https://support.gluu.org/integrations/prepareforstep-not-called-on-step-2-2596#at9448)

[2016-04-01 11:08] mzico opened #84 "Update 'Default Authentication Method' doc"
Update:
https://gluu.org/docs/oxtrust/configuration/#default-authentication-method

[2016-04-01 14:39] willow9886 commented on #84
reference: https://support.gluu.org/identity-management/default-authentication-method-2598

[2016-04-04 16:22] zamilskhan commented on #83
Used tables to represent methods.

[2016-04-04 18:20] willow9886 opened #85 "Custom Script workflows and tutorial"
In one of our support tickets, a user commented that our docs for authentication scripts are "missing a lot of flow and background description about all the components related to the authentication flow. If people doesn't know "seam" well, it's difficult to get something really fancy working."

Here's Zamil's recommendation for approaching this:

[1:18:33 PM] Zamil Khan: we can get the must have l

[2016-04-05 19:04] mzico opened #86 "[not urgent] gitlab SAML integration with Gluu Server"
See if we can SSO Gitlab with Gluu Server. If possible, then we need to prepare a doc and publish.
Gitlab doc: http://doc.gitlab.com/ee/integration/saml.html

[2016-04-05 20:12] zamilskhan commented on #84
Updated page.

[2016-04-05 20:32] mzico commented on #84
@zamilskhan :

Better say it like this way.... Gluu Server uses oxAuth as the first step of authentication in all kind of SSO protocols ( OpenID Connect, SAML, CAS ). Whenever anyone just authenticate with Gluu Server ( without entering into oxTrust ) for any RP/SP they use oxAuth only. 'Authentication Mode' defines that layer only.

Here is an image which might help you to understand the differen

[2016-04-05 20:57] zamilskhan commented on #84
@mzico can you check now?

[2016-04-05 21:11] mzico commented on #84
@zamilskhan lol... that's the beauty! You can encapsulate bunch of sentences and images into one statement.

[2016-04-05 21:11] #84 closed

[2016-04-06 11:18] aveekbu commented on #86
I've installed gitlabCE. but later I've found that SAML2.0 authentication with IdP needs gitlabEE Enterprise Edition to be installed along with secure https. But I've got 404 error when trying to reach (http://doc.gitlab.com/ee/install/installation.md#using-https) the docs.

I'll keep an eye on them and trying to figure how to install an EE version instead of a CE version.

[2016-04-06 12:52] mzico commented on #86
@aveekbu Try [this](http://doc.gitlab.com/ce/integration/saml.html). This link is for GitLab CE SAML integration

[2016-04-07 00:32] #83 closed

[2016-04-07 01:02] #23 closed

[2016-04-07 02:22] zamilskhan commented on #82
Note:
Sector identifier is a part of the redirect URL, used by the RP to compute unique identifier/nameID of the user for the openID client. This allows using a consistent NameID independent of domain names. This URI must reference a JSON file containing the redirect_uri(s).

[2016-04-07 17:33] zamilskhan opened #87 "Add OX Customization in doc"
For JSF pages I added custom resource resolver https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/WEB-INF/web.xml#L66 and configured facelets to reload pages on modification with 10 seconds delay https://github.com/GluuFederation/oxAuth/blob/master/Server/src/main/webapp/WEB-INF/web.xml#L70

Tomcat restart policy:

1. On “libs” update we always need to restart tomcat. It’s

[2016-04-07 17:35] zamilskhan opened #88 "New section about Logs"
Now we have ability to specify oxAuth/oxTrust log level via profiles. In
our profiles by default log level is INFO. It's right log level for
release builds. But for development we need TRACE or DEBUG log level.

Our oxAuth/oxTrust should support next parameter:
-Dgluu.log.level=TRACE

[2016-04-07 17:56] zamilskhan commented on #82
@mzico the sector identifier section is hidden for now.

[2016-04-07 21:06] zamilskhan opened #89 "Simple CR doc"
create a simple Cache Refresh doc that is easy to understand. Maybe get a section called Gluu-simplified

[2016-04-08 12:26] Absor opened #90 "Client registration documentation is about userinfo"
Dynamic client registration endpoint documentation is currently about userinfo endpoint.

https://github.com/GluuFederation/docs/blob/master/sources/api/oic-register-client.md

[2016-04-13 19:45] willow9886 opened #91 "Doc for configuring O365"
O365 is a frequent target for SSO. It would be helpful to have a step-by-step guide in our documentation detailing how to configure the Gluu Server for SSO to O365.

[2016-04-18 19:29] mzico opened #92 "How to create custom NameID in Gluu Server"
Migrate this ( https://ox.gluu.org/doku.php?id=ce:custom_nameid ) doc to public 'www.gluu.org/docs'

[2016-04-18 19:33] willow9886 commented on #92
@zamilskhan this seems like something we can add into the new section "Tips & Tricks"

[2016-04-18 20:15] zamilskhan commented on #92
@willow9886  we already have a section for [custom attributes](https://gluu.org/docs/customize/attributes/). That is the ideal place for this doc.

[2016-04-18 20:16] willow9886 commented on #92
ah OK, good call.

[2016-04-18 20:40] zamilskhan commented on #90
Note:

[2016-04-18 23:43] zamilskhan commented on #90
Updated registration page.

[2016-04-19 17:38] zamilskhan commented on #92
Done.

[2016-04-19 17:38] #92 closed

[2016-04-19 20:25] mzico opened #93 "Update doc"
@zamilskhan and @willow9886 : A proposal... do you think we can put '2.4.x' instead of specific '2.4.1' or '2.4.2' here in these two docs:

1. https://gluu.org/docs/deployment/upgrading/
2. All CE installation doc ( Ubuntu, CentOS... )

[2016-04-19 20:29] zamilskhan commented on #93
@mzico I will update the upgrade page. What do you mean by

[2016-04-19 20:49] mzico commented on #93
Installation pages.. i.e. https://gluu.org/docs/deployment/rhel/ or https://gluu.org/docs/deployment/centos/

[2016-04-19 20:52] zamilskhan commented on #93
won't that confuse people who are trying to install gluu server? we kept it like that so people can copy and paste the commands to install Gluu Server.

[2016-04-19 21:03] mzico commented on #93
Might be... that's why asked what you guys think.. :-)

[2016-04-20 07:13] aveekbu commented on #93
A proposal: The deployment guide sub menu could be: [this is an example]

- Deployment (by version)

1. Gluu Server 2.3.x
1.1 release note
1.2  OS specific
1.2.1 Debian/Ubuntu 14.04
1.2.2 CentOS/RHEL 6.x
1.2.3 CentOS/RHEL 7.x

2. Gluu Server 2.4.1
2.1 release note
2.2 OS specific
2.2.1 Debian/Ubuntu 14.04
2.2.2 RHEL/CentOS 6.x
2.2.3 RHEL/CentOS 7.x

3. Gluu Server 2.4.2[stable]
....
4. Gluu Server

[2016-04-20 08:30] zamilskhan commented on #93
Closing issue for now. We can revisit it later.

[2016-04-20 08:30] #93 closed

[2016-04-20 22:00] zeroluck opened #94 "Upgrade script fails"
Following [https://github.com/GluuFederation/docs/blob/master/sources/deployment/upgrading.md](url), when I execute `./import24.py backup_24` I see errors stopping Tomcat and OpenDJ. I'm upgrading from gluu-server24 to gluu-server-2.4.2.

[code]

On CentOS in the gluu CHROOT in gluu-server-2.4.2, the service command is at /sbin/service, not /usr/sbin/service.

I am not sure if this will affect Ubu

[2016-04-20 22:33] mzico commented on #94
@zeroluck : please open ticket in https://support.gluu.org; Gluu Engineers will help you to troubleshoot the issue. If it really a bug then we will able to open the issue in proper github tree.

[2016-04-20 22:33] #94 closed

[2016-04-21 11:18] mzico opened #95 "Update screenshot"
Update 'Configuration' doc ( https://gluu.org/docs/oxtrust/configuration/#configuration )
We don't have 'Manage Email Address' tab now.

![old_configuration](https://cloud.githubusercontent.com/assets/7156097/14707171/cc0a9b16-0788-11e6-8a0f-4f075e5e2157.png)

[2016-04-21 11:41] mzico commented on #81
@aveekbu : What's the status of this doc? We need it now....

[2016-04-21 20:15] zamilskhan commented on #95
@mzico screenshot updated.

[2016-04-21 20:15] #95 closed

[2016-04-22 18:33] mzico commented on #81
reassigning to @zamilskhan . We need this doc to be published.

[2016-04-22 20:55] zamilskhan commented on #81
@mzico check. pushed updates now

[2016-04-22 21:46] mzico commented on #81
@zamilskhan : thanks for the skeleton!! I'll add explanations there

[2016-04-22 22:38] zamilskhan commented on #81
np :) I'll take a look again tomorrow and add whatever I can

[2016-04-26 14:28] uboznikov opened #96 "Please update path of SCIM 1.1 endpoints"
In [SCIM 1.1](https://gluu.org/docs/api/scim-1.1/), please update `/host/seam/resource/restv1` to `/identity/seam/resource/restv1/scim/v1`, e.g.

`/identity/seam/resource/restv1/scim/v1/Users{rsid}`

[2016-04-27 22:23] zamilskhan commented on #90
Complete update pushed.

[2016-04-27 22:23] #90 closed

[2016-04-29 13:46] mzico opened #97 "Password reset feature"
Migrated this ( https://ox.gluu.org/doku.php?id=oxtrust:password_reset ) doc to gluu.org/docs

[2016-04-29 15:34] zamilskhan commented on #96
Updated. @uboznikov please check https://gluu.org/docs/api/scim-1.1/

[2016-04-29 15:36] zamilskhan commented on #97
@mzico done. please check https://gluu.org/docs/cache-refresh/reset-password/

[2016-04-29 15:57] zamilskhan opened #98 "User management using SCIM"
add a page for user management using SCIM

[2016-04-29 18:21] mzico commented on #97
@zamilskhan looks good. Thanks.

[2016-04-29 18:21] #97 closed

[2016-04-29 19:16] #96 closed

[2016-05-02 22:50] zamilskhan commented on #98
Done. https://gluu.org/docs/cache-refresh/scim/

[2016-05-02 22:50] #98 closed

[2016-05-02 22:51] zamilskhan commented on #88
Create a log page in gluu-defaults and add this there

[2016-05-02 22:52] zamilskhan commented on #81
close issue?

[2016-05-03 17:29] mzico commented on #81
No.. can you please add a ticket for me in Trello on this?

[2016-05-04 13:19] nynymike opened #99 "mod_auth_openidc instructions missing SSL key / cert generation"
https://gluu.org/docs/integrate/ubuntu-installation/

The above doc (and others probably) are not complete regarding SSL configuration. It is missing the part about generating the private key and certificate and enabling the default ssl site.

Please reference these instructions:
https://www.digitalocean.com/community/tutorials/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-14-04

[2016-05-04 22:22] varunmehta opened #100 "With the migration to Xenial, Trusty and Xenial deployments (ubuntu) are broken. gpg key issue"
When installing gluu-server on (Ubuntu 16.04) Xenial, it fails with an error message;

`W: https://repo.gluu.org/ubuntu/dists/xenial/Release.gpg: Signature by key 5E2751618B45466B417A099A5B76117E0544BA38 uses weak digest algorithm (SHA1)`

As per [this post](http://askubuntu.com/questions/764927/key-uses-weak-digest-algorithm), 16.04 has started ignoring SHA1 keys.

When reverted back to Trusty (U

[2016-05-04 23:01] zamilskhan commented on #99
Added instructions to generate SSL Certificate in Ubuntu and CentOS OpenID Module guides.

[2016-05-05 01:23] adrian-gluu commented on #100
you should use xenial yet we didn't finish the xenial pkg yet, also our trusty deb pkg only works in trusty because xenial comes with a new init "systemD", please if you want to use gluu-server try it just in trusty machine using our trusty deb pkg. our trusty deb pkg is not compatible with xenial sorry!

[2016-05-05 01:23] #100 closed

[2016-05-05 02:26] varunmehta commented on #100
I tried on 14.04 & 16.04. Installation failed on both the systems.

[2016-05-05 06:20] zamilskhan commented on #100
Please open a ticket in the [support portal](support.gluu.org)

[2016-05-05 19:14] zamilskhan commented on #99
Links updated: https://gluu.org/docs/integrate/ubuntu-installation/ and https://gluu.org/docs/integrate/centos-installation/

[2016-05-05 19:15] #99 closed

[2016-05-09 23:47] zamilskhan commented on #88
Done.

[2016-05-09 23:47] #88 closed

[2016-05-16 17:13] zamilskhan commented on #89
There are videos about cache refresh now. This could be postponed for now.

[2016-05-16 17:13] #89 closed

[2016-05-18 21:39] zamilskhan commented on #87
I've few notes about 2.4.4.
In this version oxAuth will use JSF 2 instead of JSF 1. As result we need to apply 2 changes to customers custom pages:
1) Don' use jstl core. It not works in JSF2. JSP is deprecated in JSF 2.
2) Fix schema links in ui:composition
3) Retest all our supported custom scripts

For point 1 we need to do something like this:
- Remove xmlns:c="http://java.sun.com/jstl/core" f

[2016-06-12 18:38] mzico opened #102 "Dropbox SSO with Gluu Server"
Here is the doc: https://ox.gluu.org/doku.php?id=ce:dropbox_gluu_integration_saml

[2016-06-12 18:38] mzico commented on #91
Doc created and handed over to Zamil for migration.

[2016-06-12 18:38] #91 closed

[2016-06-14 23:42] #87 closed

[2016-06-22 22:37] zamilskhan commented on #102
@mzico https://gluu.org/docs/integrate/dropbox/

[2016-06-23 08:25] mzico commented on #102
@zamilskhan : Looks good, thanks.

[2016-06-23 08:25] #102 closed

[2016-07-13 15:13] nynymike opened #103 "Logs page is incomplete"
[This logs page](https://gluu.org/docs/gluu-defaults/logs/) needs work.

1. The logs page has a list of logs, but no description what is contained in each.
2. What about LDAP logs? /opt/opendj/logs ?
3. If cache refresh or external LDAP authentication, what about logs of the target LDAP servers?
4. Apache web server logs?

[2016-07-13 15:32] mzico commented on #103
@nynymike : Checking status.

[2016-07-13 20:49] aliaksander-samuseu commented on #103
@mzico

Here my humble attempt to write a logging article while back: [link](https://wiki.gluu.info/doku.php?id=appliance:logging&s[]=logging)
It's incomplete and full of holes, so needs polishing at least.

[2016-07-13 21:06] mzico commented on #103
Thanks @aliaksander-samuseu; we will add points and description in your doc then.

[2016-07-13 21:25] BitKris opened #104 "Configuring Gluu Server with Centos 7.2"
Please help.  I am following the document https://gluu.org/docs/deployment/centos7/#installing-gluu-server and honestly its not working.  I can't seem to start the service gluu-serverd-2.4.3.  Here is everything that I have done.

[root@localhost ~]# /sbin/gluu-serverd-2.4.3 start
[root@localhost ~]# /sbin/gluu-serverd-2.4.3 stop
[root@localhost ~]# yum remove gluu-server-2.4.3
Loaded plugins: fas

[2016-07-13 21:36] mzico commented on #104
@BitKris : Please use our Support portal ( https://support.gluu.org ) for any kind of question or troubleshooting. Github is for bug reports.

[2016-07-13 21:36] #104 closed

[2016-07-14 17:12] mzico commented on #103
@nynymike : [This](https://ox.gluu.org/doku.php?id=ce:logs) is the starting condition.

[2016-07-14 17:23] willow9886 commented on #103
@mzico should we update our public docs?

[2016-07-14 17:26] mzico commented on #103
@willow9886 : Not yet... please allow me to finish this. My plan is to add little example snippets along with description.

[2016-07-14 17:36] willow9886 commented on #103
sounds good.

[2016-07-14 19:30] nynymike opened #105 "Remove docs on federation API"
We are removing the federation API from oxAuth.

[2016-07-17 18:44] mzico commented on #103
@nynymike @willow9886 @zamilskhan : New doc on Gluu Server log is [here](https://ox.gluu.org/doku.php?id=ce:logs). Please feel free to check the status.

[2016-07-18 19:01] willow9886 commented on #103
@mzico is this ready to get transferred over to the docs?

[2016-07-18 19:24] mzico commented on #103
@willow9886 : yes, let's do it.

[2016-07-18 19:32] willow9886 commented on #103
ok, moving on it.

[2016-07-19 14:26] #103 closed

[2016-08-04 01:23] #105 closed

[2016-08-04 01:33] zamilskhan opened #106 "Rewriting Docs"
Gluu Server Documentation
#1  Introduction

 1.1  Summary
 1.2  History
 1.3  Design Goals
 1.4  Architecture
#2  Installation Guide

 2.1  Preparing VM
 2.1.1  Azure Cloud
 2.1.2  Linode VM
 2.2  Single Setup
 2.2.1  Setup Script
 2.2.2  Ubuntu (maybe it is a good idea to put both ubuntu versions in the same page)
 2.2.3  CentOS
 2.2.4  RHEL
 2.2.5  Debian
 2.3  Cluster Setup
 2.3.1  Requirements

[2016-08-04 01:40] zamilskhan commented on #106
@willow9886

[2016-08-04 02:22] nynymike commented on #106
Just a few notes:

1. I don't like the term "user" ... it makes me think of an opium junkie... I prefer "Person" or "People"
2. We can drop Liferay plugin... that's hasn't been tested in some time
3. User Guide and Admin Guide are sort of the same... because the Admin is the user...
4. I wonder if we should have a section about Customizing the Gluu Server, including writing interception scripts (w

[2016-08-04 06:43] yurem commented on #105
@yuriyz Is thee same issue in oxAuth about federation removal?

[2016-08-04 07:42] yuriyz commented on #105
@yurem yes, it's assigned on me https://github.com/GluuFederation/oxAuth/issues/256

[2016-08-04 10:13] yurem commented on #106
We need to add information about customization. I still see many questions about how to to restore login page customizations...
[code]

[2016-08-04 18:58] zamilskhan commented on #106
@nynymike Sensei, then we can have the Admin guide where the tutorials will be put and as Will suggested, a Reference Guide where we can put in the customization, schema and other related material can go.

[2016-08-04 23:10] zamilskhan commented on #86
Any update on this one?

[2016-08-04 23:11] #82 closed

[2016-08-11 07:35] egrish opened #107 "Cache Refresh does not work in GLUU 2.4.4"
My AD sync was working with 2.4.3, after clean installation of 2.4.4 it does not work, even using the same configuration.  There are no errors in the logs, but nothing is synced.

[2016-08-11 13:17] mzico commented on #107
@egrish : Please use our Support Portal ( https://support.gluu.org ) for any kind of support related question with proper logs.

[2016-08-11 13:17] #107 closed

[2016-08-15 13:36] Nemykal commented on #86
+1 this would be good to have. Gitlab supports some other integrations for auth besides SAML too https://gitlab.com/help/integration/omniauth.md#initial-omniauth-configuration

[2016-08-16 00:53] zamilskhan commented on #86
This is a work in progress. We hope to get this done soon.

[2016-08-23 00:28] zamilskhan opened #108 "Update Ubuntu SAML SP Config"
Update the shibboleth2.xml file with
[code]

[2016-08-23 01:13] nynymike commented on #108
Make sure you change the hostnames to match the example. i.e. squid --> minnow  etc.

[2016-08-23 15:59] zamilskhan commented on #106
Keeping track of content for the new Administration Guide for collaboration. Please feel free to edit

https://docs.google.com/document/d/146tpPhGoUycFBCuG4tAtX46JpXsC4fVLEQVENN21KTk/edit?usp=sharing

[2016-08-23 23:05] zamilskhan commented on #108
shibsp::ListenerException at (https://shib-centos.info/secure/printHeaders.py) in CentOS 6.8 Shibboleth SP with new configurations

[2016-08-24 06:13] mzico commented on #108
@zamilskhan @sahiliamsso : Any stack trace from shibd or transaction logs ( /var/logs/ ... ) ?

[2016-10-05 18:40] mzico opened #109 "Update cluster doc"
Specify 'host level' vs. 'container level' in doc.

Comment from one user:

[2016-10-07 22:22] aliaksander-samuseu opened #111 "VM preparation doc needs corrections"
Page is [here](https://www.gluu.org/docs/deployment/).

Different issues were reported in [this ticket](https://support.gluu.org/installation/little-glitch-with-requirements-user-docs-3302/). I've corrected part about setting file descriptors limit in that file, but other edits/corrections still are required. We probably need somebody very experienced in differences existing between different linu

[2016-10-11 16:26] mzico commented on #109
Applied changes.

[2016-10-15 07:56] ganesh-at-wiw commented on #111
Zamil,

I've gone through all the four OSs: CentOS 6.8, 7.2, Ubuntu 14.04 and Ubuntu 16.04.
The path of and for the

Should be removed fully. Everywhere pam_limits.so is placed without full path.

Related to
/proc/sys/fs/file-max
and
/etc/security/limits.conf
both are common to all OSs. So, no worries.
Let me know if you need any other inputs from my side.

Removing of bash_history is purely our d

[2016-10-15 18:35] nynymike commented on #111
Removing bash history is not optional...

---
-------------------------------------
Michael Schwartz
Gluu
Founder / CEO
mike@gluu.org
http://support.gluu.org

On 2016-10-15 02:56, Ganesh wrote:

[2016-10-16 05:53] ganesh-at-wiw commented on #111
Then @adrian-gluu remove that too during every package build.

On Sunday 16 October 2016 12:05 AM, Mike Schwartz wrote:

-------------------------------------
Ganesh Dutt Sharma
Gluu
System Administrator
ganesh@gluu.org

[2016-10-17 15:08] mzico commented on #109
Few more points to add...

[2016-10-17 15:17] mzico commented on #109
done

[2016-10-17 15:17] #109 closed

[2016-10-19 17:18] zamilskhan commented on #111
@ganesh-at-wiw @aliaksander-samuseu removed the full path for pam_limits.so 4a8b901

[2016-10-19 17:18] #111 closed

[2016-10-19 17:19] zamilskhan commented on #108
Updated

[2016-10-19 17:19] #108 closed

[2016-11-09 14:11] jschristie commented on #106
@zamilskhan,

for which version of the product is this? is it for 2.4.4 or 3.0?

[2016-11-25 01:08] bashou commented on #86
Maybe some updates ? (Thanks !)

[2016-12-05 16:42] willow9886 opened #145 "Update CE Cluster docs for new logging component"
We have new logging software for CE CLusters: https://github.com/GluuFederation/message-consumer

We need to update our docs to reflect the new loggin mechanism.

[2016-12-07 06:19] umapati opened #146 "unable to install gluu server on REHL 7.2 : unpacking of archive failed on file /opt/gluu-server-2.4.4.2/var/lib/rpm/Packages;5841179d: cpio: read failed - No such file or directory"
Hi, I am trying to install Gluu on my Development server siting inside the corporate LAN with no access to internet. i have done the following:

1.	Download gluu-server-2.4.4.2-1-1.rhel7.x86_64.rpm from internet
2.	Transfer to SIT using winscp
3.	Run rpm -i -vv gluu-server-2.4.4.2-1-1.rhel7.x86_64.rpm using root

But I get the following error:

XZDIO: 261724 reads, 2212069840 total bytes in 62.814

[2016-12-07 09:24] mzico commented on #146
@umapati : Please feel free to use our Support portal ( https://support.gluu.org ) for any kind of support issue.

[2016-12-07 09:24] #146 closed

[2017-05-14 15:18] #106 closed

[2017-05-14 15:22] #85 closed

[2017-05-14 15:23] #81 closed

[2019-02-19 11:21] whlowe opened #2 "favicon across all gluu docs"
Let's update the favicon for all our docs to use this one:

https://github.com/GluuFederation/oxTrust/blob/master/server/src/main/webapp/WEB-INF/static/images/favicon_icosahedron.ico

[2019-02-20 17:04] shmorri commented on #2
Updated

[2019-02-20 17:04] #2 closed, assigned to ganesh-at-wiw, shmorri